.contenedor-principal-portfolio {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .contenedor-card {
    display: grid;
    gap: 20px;
  }
}

@media screen and (min-width: 576px) {
  .contenedor-principal-portfolio {
    h1 {
      padding-top: 10px;
    }
    .contenedor-card {
      width: 85%;
      margin-top: 20px;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 40px;
    }
  }

}
