<div class="contenedor-principal-about">
  <h1> Acerca de mi</h1>

  <div class="resumen">
    <p>Estas son algunas de las tecnologías que aprendí a manejar durante mis estudios como autodidacta mediante cursos web y leyendo documentación de las librerías.</p>  </div>

    <div class="contenido cont-1">
    <img src="assets/images/Html_logo.png" alt="">
    <div>
      <h3>HTML y CSS</h3>
      <p>Lo primero fue aprender HTML para conocer como es la estructura de la web. Seguido de esto la forma en que se le da una apariencia y buena presentación a esta, aprendiendo desde lo básico de CSS hasta el manejo de flexbox, grid y media queris para lograr páginas que se adapten a cualquier dispositivo</p>
    </div>
    <img src="assets/images/css_logo.png" alt="">
  </div>

  <div class="contenido cont-2">
    <img src="assets/images/Sass_logo.png" alt="">
    <div>
      <h3>Sass</h3>
      <p>Lo siguiente fue aprender a manejar un procesador de CSS para realizar de manera más rápida y eficiente la creación de estilos, para esto elegí Sass</p>
    </div>
  </div>

  <div class="contenido cont-3">
    <div>
      <h3>JavaScript</h3>
      <p>Para lograr interactuar con las aplicaciones web fue necesario aprender JavaScript, desde las funciones para interactuar con el DOM hasta la creación y forma de interactuar con los object y arrays</p>
    </div>
    <img src="assets/images/JavaScript_logo.svg.png" alt="">
  </div>

  <div class="contenido cont-4">
    <img src="assets/images/Typescript_logo.svg.png" alt="">
    <div>
      <h3>TypeScript</h3>
      <p>El familiarizarme con TypeScript fue fundamental para lograr un código más organizado y así evitar muchos errores de tipado. También fue parte importante para empezar a aprender un framework</p>
    </div>
  </div>

  <div class="contenido cont-5">
    <div>
      <h3>Angular</h3>
      <p>Angular es el framework que decidí aprender al sentirme cómodo viendo su estructura. Pasando desde la creación de componentes y rutas hasta la creación de servicios, el manejo de observables(RxJS) y la creación de un store(NgRx) para un mejor manejo de la data</p>
    </div>
    <img src="assets/images/Angular_logo.svg.png" alt="">
  </div>
</div>
