.contenedor-primario {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width: 576px) {
  .contenedor-primario {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: #f4f4f4;
    height: 100vh;

    .contenedor-side {
      grid-column: 1 / 2;
      min-width: 250px;
      height: 100%;
      background-color: #ffffff;
    }

    .contenedor-main {
      grid-column: 2 / 7;
      background-color: #ffffff;
      overflow-y: auto;
    }
  }
}
