
.contenedor-primario {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  background-color: #f4f4f4;
  height: 100vh;

  .contenedor-side {
    grid-column: 1 / 2;
    min-width: 250px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #b8b8b8;
  }

  .contenedor-main {
    grid-column: 2 / 7;
    background-color: #ffffff;
    flex-grow: 1;
    border-left: 1px solid #b8b8b8;
    overflow-y: auto;
  }
}
