<div class="contenedor-principal-side">

  <div class="logo">
    <a routerLink="/">
      <span>Lautaro</span>
      <br>
      <span>Diaz</span>
    </a>
  </div>

  <nav class="navegacion">
    <ul class="nav">
      <li class="nav-item">

        <a class="nav-link"
           routerLink="/home"
           routerLinkActive="active">
          <span class="menu-titulo">HOME</span>
        </a>

      </li>

      <li class="nav-item">
        <a class="nav-link"
            routerLink="/about"
            routerLinkActive="active">
          <span class="menu-titulo">ABOUT</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
            routerLink="/portfolio"
            routerLinkActive="active">
          <span class="menu-titulo">PORTAFOLIO</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="footer">
    <span>Contacto</span>
    <a href="mailto:lautaro.diaz0594@gmail.com">lautaro.diaz0594@gmail.com</a>
  </div>
</div>
