<div class="contenedor-home">
  <h1>Home</h1>

  <div class="contenedor-secundario">
    <div class="imagen">
      <img src="../../../assets/images/perfil.jpg" alt="">
    </div>
    <div class="informacion">
      <span>Hola, yo soy</span>
      <h3>Lautaro Diaz</h3>
      <span>Front-End Developer Junior</span>
      <p>Una persona dedicada que esta entrando en el mundo de programacion de software. Hace 2 años di mis primeros pasos para adentrarme en este mundo, sintiendo mucha curiosidad por el proceso que daba la cracion a las paginas y aplicaciones web.</p>

      <ul>
        <li><i class="fa fa-map-marker-alt"></i> Salta, Argentina</li>
        <li><i class="fa fa-phone-alt"></i> +54 9 3875186562</li>
        <li><i class="fa fa-envelope"></i>lautaro.diaz0594@gmail.com</li>
        <li><i class="fa fa-birthday-cake"></i>05 Mayo, 1994</li>
      </ul>

      <div class="contacto">
        <a href="https://web.whatsapp.com/send/?phone=5493875186562" target="_blank"><i class="fa fa-whatsapp"></i></a>
        <a href="https://www.linkedin.com/in/lautaro-diaz-b6717a264/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="mailto:lautaro.diaz0594@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        <a href="https://github.com/lautadiaz" target="_blank"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
</div>
